.cardContainer {

    .actionItem {
        align-items: center;
        gap: 30px;
        padding-bottom: 15px;
    }

    .callerIdListContainer {
        max-height: 450px;
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        padding: 30px;
    }

    .badge {
        padding: 5px 15px;
        font-size: 14px;
    }


    .editContainer {

        .deletedIdContainer,
        .availableIdContainer {
            .title {
                padding: 15px 0;
            }

            .listContainer {
                padding: 15px 0;
            }
        }
    }

}