.CallerIdsContainer {
    padding: 30px;

    .action {
        .backBtn {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-self: start;
        }
    }

    .mainSection {
        margin: 0 auto;
        padding: 15px;

        .badge {
            width: fit-content;
            padding: 10px;
            margin: 15px auto;
        }

        .helperText {
            margin: 10px 0;
        }
    }

    .footer {
        .retryBtn {
            width: fit-content;
            display: flex;
            align-items: center;
            justify-self: end;
        }
    }

    .submit {
        width: fit-content;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 768px) {
    .CallerIdsContainer {
        padding: 30px;
    }
}