.oops {
    font-size: 90px;
    padding: 30px;
}

.mainSection {
    padding: 30px;
    font-size: 24px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}